<div class="container">
    <h1>A <strong>Quote</strong> a day <em>keeps the Doctor Away!</em></h1>

    <div class="row">
        <div class="column">
            <div class="card-body">
                <div *ngFor="let myQuote of sortQuotes; let i = index">
                    <h2 class="card-title">{{myQuote.name}}</h2>

                    <div class="card-text">
                        <button (click)="toggleDetails(i)">Here is Your Quote!</button>
                        <app-quote-timeline *ngIf="myQuote.showQuote" [quote]="myQuote"
                            (isComplete)="deleteQuote($event, i)">
                        </app-quote-timeline>
                        
                        <app-quote-voting [quote]="myQuote" *ngIf="myQuote.showQuote"
                            (isUpVoted)="upvoteQuote($event, i)" (isDownVoted)="downvoteQuote($event, i)">
                        </app-quote-voting>

                    </div>

                </div>
            </div>
        </div>

        <div class="column">

            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

            <div class="jumbotron">
                <div class="card-title">
                    <p>The quote with the most votes is: <strong>{{quotes[0].name}}</strong> </p>
                    <p><em> {{quotes[0].quoteText}}</em></p>
                </div>

            </div>


        </div>
    </div>

</div>