<div class="container-fluid">
    <img src="img/light.gif">
    <h1>Quote Generator</h1>
    <p><strong>Create</strong> and <strong>Vote</strong> on your own unique <em>quote</em> today!</p>
    <hr>

    <form>
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label for="name">Text</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label for="name">Author</label>
            <input type="text">
        </div>

        <div class="form-group">
            <label for="name">Submitter</label>
            <input type="text">
        </div>
    </form>



</div>